.Layout {
  display: grid;
  grid-template-columns: 80px minmax(0, 1fr); 
  min-height: 100vh;
  width: 100%;
}


.Sidebar {
  grid-column: 1 / 2;
  background-color: #f0fdf4; 
}


.SidebarInner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.MainArea {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f9fb;
}


.MainArea > header {
  flex-shrink: 0;
}


.Content {
  flex: 1;
  padding: 24px 32px 32px;
  overflow-x: hidden;
}
