.SidebarNav {
  width: 100%;
  height: 100%;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.TopButton {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  background-color: #59b17a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 24px;
}

.TopIcon {
  line-height: 1;
}


.MenuList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}



.MenuLink {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  outline: none;
}


.IconCircle {
  width: 24px;
  height: 24px;
  border-radius: 999px;
  background-color: #e7f7ed;
}


.MenuLinkActive .IconCircle {
  background-color: #59b17a;
}


.SrOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


.SidebarNav::after {
  content: "";
  display: block;
  height: 24px;
}
